# Nix
result
result-*

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Flakes
.direnv
.pre-commit-config.yaml

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Logs
*.log

# Temporary files
*~
\#*\#
.#* 